Examples/Radio Discovery - C# VS2015 - NoAPI/NoAPIDiscoveryApplication/NoAPIDiscoveryApplication/bin/
Examples/Radio Discovery - C# VS2015 - NoAPI/NoAPIDiscoveryApplication/NoAPIDiscoveryApplication/obj/
