Examples/Radio Discovery - C++ Qt551/build-RadioDiscovery-Desktop_Qt_5_5_1_MSVC2013_32bit-Debug/
Examples/Radio Discovery - C# VS2015 - NoAPI/NoAPIDiscoveryApplication/NoAPIDiscoveryApplication/bin/
Examples/Radio Discovery - C# VS2015 - NoAPI/NoAPIDiscoveryApplication/NoAPIDiscoveryApplication/obj/
